/* CSS declarations go here */
body {

  background-color: #EEE;
  font-family: 'Open Sans', sans-serif
  padding: 70px 70px 150px;
}
 
.container {
  width: 100%;
  min-height: 120%;
  background: white;
}
 

 
h1 {
  font-size: 2em;
  margin: 10;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 40px;
}
h3{
  font-size: 1em;
  margin: 10;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 600px;
}

 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 15px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1.5em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 10;
  padding: 5;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 5px;
  background:  #8FBC8F; 
  font-size: 24px;
  margin-right: 40px;
}
ul li :hover{
  font-size: 30px;
  font-weight: bold;
}
 
li .text {
  margin-left: 10px;
}
 
li.textToCopy{
    background:   #DCDCDC
    border-style: inset;
    border-color: #00008B

 }
 li.checked{
    background: #2E8B57;
    border-style: groove;
    border-color: #00008B
}
li.ltrue{
    background: #2E8B57;
    border-style: groove;
    border-color: #00008B
}
ul li.ltrue :hover{
    background: #555
    border-style: groove;
    border-color: #00008B
}

li.mtrue{
    background: #FFFF00;
    border-style: groove;
    border-color: #00008B
}
li.htrue{
    background: #FF0000;
    border-style: groove;
    border-color: #00008B
}
li.lfalse{
    background: #90EE90;
}

li.mfalse{
    background: #FFFACD;

}
li.hfalse{
    background: #FFC0CB;
}
 
li.checked .text {
  font-weight: bold;
  font-size: 24px;
}

 li.htrue .text {
  font-weight: bold;
  font-size: 24px;
}
li.mtrue .text {
  font-weight: bold;
  font-size: 24px;
}
li.ltrue .text {
  font-weight: bold;
  font-size: 24px;
}

label .hide-completed {
  float: right;
  margin-left: 5000px;
  position: relative;
}
 
 
@media (max-width: 600px) {
  li {
    padding: 15px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 15px;
  }
}